<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <style>
        table, th, td {
            border: 1px solid black;
          }
        #dashText {
            color: rgb(12, 22, 109);
            font-size: 100px;
        }
    </style>
</head>
<body>
    <!-- <h1>This is heading 1</h1>
    <table>
        <tr>
          <th>Sr</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
        {% for people in peoples%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
        </tr>
        {%endfor%}
      </table>
    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae facere quisquam architecto, deleniti, quasi saepe voluptate quaerat nesciunt enim ratione, necessitatibus debitis temporibus consectetur veniam repellat dicta velit mollitia deserunt!</h2>
    <p>This is p1</p> -->

    <a href="/overview/", id="dashText">Go to Dashboard</a>
</body>
</html>
